{% extends 'base.html' %}

{% block containBody %}

<section class="py-5">
    <a class="" href="{% url 'product_list' %}"><i class="bi bi-arrow-left"></i></a>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% if product.image %}
                <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="{{ product.description }}" />
                {% else %}
                <img class="card-img-top mb-5 mb-md-0" src="../../media/upload/product/—Pngtree—a picture icon_4524748.png" class="img-fluid" alt="...">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{ product.code }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>$ {{ product.price }}</span>
                </div>
                
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" value="{{ product.id }}" id="add-cart">
                        Agregar <i class="bi-cart-fill me-1"></i>
                    </button>
                </div>            
            </div>
        </div>
    </div>
</section>
<script>
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                document.getElementById("cart_quantity").
                    textContent = json.quantity;
            },
            error: function(xhr,errmsg,err){
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    })

</script>

{% endblock containBody %}
    
