{% extends 'base.html' %}

{% block containBody %}
<section class="py-5">
    <div class="container">
        <div class="d-flex flex-column text-center">
            <div class="vh-75 mb-4">
                <img class="card-img-top mb-5 mb-md-0" src="../../media/upload/¡Hola! Me llamo Christian..jpg" alt="Imagen de TecnoStore" />
            </div>
            <div>
                <h1 class="display-5 fw-bolder">Acerca de</h1>
                <div class="fs-5 mb-5">
                    <h2>TecnoStore</h2>
                </div>
                <p class="lead">
                    Ecommerce que ofrece productos tecnológicos con precios competitivos a travez de ofertas especiales a productos especificos. Donde el usuario puede registrarse, logearse y editar su perfil(datos personales y avatar) y segun si es administrador puede agregar, eliminar o editar los productos que se ofrece por la plataforma.
                </p>
                <h3>Objetivo</h3>
                <p class="lead">
                    Demostrar lo aprendido en el curso de python orientado al desarrollo web utilizando Django como framework.
                </p>
            </div>
        </div>
    </div>
</section>



{% endblock containBody %}
