{% extends 'base.html' %}

{% block containBody %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/341523/pexels-photo-341523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="">
        </div>
        <div class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
            <div class="text-center text-white">
                <h1 class="display-2 fw-bolder">TecnoStore</h1>
                <p class="lead fw-normal text-white-70 mb-0">Tecnology and style</p>
            </div>
        </div>

    </div>
</div>
{% endblock containBody %}
